option.level-0 {
	font-weight: bold;
}

.admin-content {
	
	background-color: #eaeaea;
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius:0 0 15px 5px;
}

.goods-edit {
	margin-bottom: 25px;
}
.goods-edit table {
	width: 100%;
	text-align: center;
}

.goods-edit thead {
	border: 2px solid #637d94;
	
}
.goods-edit thead th {
		border: 1px solid #acbfd0;
	    background-color: #637d94;
	    color: aliceblue;
	    font-family: sans-serif;
	    padding: 4px;
	    font-weight: 400;
	    letter-spacing: 1px;
	}

.goods-edit tbody {
	border: 2px solid #637d94;	
}

.goods-edit tr {
		border-bottom: 1px solid #9fb4c5;
	}

.goods-edit .descriptions {
	width: 400px;
    height: 100px;
    overflow: auto;
}

.form_div {
	display: none;
}