option.level-0 {
	font-weight: bold;
}

.admin-content {
	
	background-color: #eaeaea;
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius:0 0 15px 5px;
}
.goods-edit-form {
	margin-top:10px;
}

.goods-edit {
	margin-bottom: 25px;
	text
}
.goods-edit table {
	width: 100%;
	text-align: center;
	background-color: white;
	margin: 10px 0px;
}

.goods-edit thead {
	border: 2px solid #637d94;
	
}
.goods-edit thead th {
		border: 1px solid #acbfd0;
	    background-color: #637d94;
	    color: aliceblue;
	    font-family: sans-serif;
	    padding: 4px;
	    font-weight: 400;
	    letter-spacing: 1px;
	}

.goods-edit tbody {
	border: 2px solid #637d94;	
}
.goods-edit th:first-child {
	width: 20%;
}
.goods-edit th:nth-child(2) {
	width: 150px;
}
.goods-edit th:nth-child(3) {
	width: 300px;
}
.goods-edit th:nth-child(5) {
	width: 150px;
}
.goods-edit th:nth-child(6) {
	width: 150px;
}
.goods-edit td {
	border-right: 1px solid grey;
}
.goods-edit tr {
	border-bottom: 1px solid #9fb4c5;
	cursor: pointer;
	/*height: 80px;*/
}
.goods-edit tr:hover {
	background-color: lightgrey;
}
.goods-edit .descriptions {
	width: 300px;
    height: 80px;
    overflow: auto;
}

.goods-edit .meat-title {
	width: 150px;
    height: 80px;
    overflow: auto;
}
.goods-edit .meta-description {
	width: 150px;
    height: 80px;
    overflow: auto;
}
.goods-edit .price {
	background-color: aliceblue;
}

.categories_list{
	max-width: 120px;
	height: 80px;
}
.form_div {
	display: none;
}

 
 
 

@media (min-width: 1200px){
	.XcontainerX {
    	max-width: 1140px;
    	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	}
}
@media (max-width: 1200px) {
	.XcontainerX {
		margin: 0 25px;
	}
}
@media (max-width: 768px) {
	.admin.main-body, .tab-pane.container{
		max-width: 95%;
	}
	 
}